{% extends 'main.html' %} {% block content %}

<style>
  div.container {
    border-radius: 25px;
  }
</style>

<div class="container m-5 border border-primary p-5">
  <!-- Start navbar -->
  <div>
    <div class="d-flex justify-content-between">
      <div>
        <h1>ToolsForEverVooraad</h1>
      </div>
      <div>
        <p>
          Medewerker: <a class="text-primary font-weight-bold">{{username}}</a>
        </p>
        <button
          type="button"
          class="btn btn-primary"
          onClick="window.location.href='/logout'"
        >
          Uitloggen
        </button>
      </div>
    </div>
  </div>
  <!-- End navbar -->
  <div>
    <!-- Start form -->
    <div class="d-flex justify-content-around">
      <h4>Kies een locatie, of een locatie en product</h4>
    </div>
    <div class="d-flex justify-content-around">
      <div class="border border-primary pt-3 pb-3 w-50">
        <div class="d-flex justify-content-around">
          <select
            name="location"
            id="locatie"
            aria-placeholder="Locatie"
            class="form-control w-25"
            value="{{selected_location}}"
          >
            <option value="" hidden selected>locatie</option>
            {% for location in locations %}
            <option value="{{location.id}}">{{location}}</option>
            {% endfor %}
          </select>
          <select
            name="product"
            id="product"
            aria-placeholder="Product"
            class="form-control w-25"
            value="{{selected_product}}"
          >
            <option value="" hidden selected>product</option>
            {% for product in products %}
            <option value="{{product.id}}">{{product}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="d-flex justify-content-around">
          <button type="button" onClick="getResults()" class="btn btn-primary">
            Verzenden
          </button>
        </div>
      </div>
    </div>
    <!-- End form -->
    <!-- Start results -->
    <div>
      <div class="d-flex justify-content-around">
        <h4 class="text-sm">Locatie: {{selected_location}}</h4>
      </div>
      <div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Type</th>
              <th scope="col">Fabriek</th>
              <th scope="col">Voorraad</th>
              <th scope="col">Verkoopprijs</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
            <tr>
              <td>{{result.product.brand}}</td>
              <td>{{result.product.type}}</td>
              <td>{{result.product.factory}}</td>
              <td>
                {{result.aantal}} {% if result.aantal < 50 %} ⚠ {% endif %}
              </td>
              <td>{{result.product.verkoopprijs}}</td>
            </tr>
            {% empty %}
            <tr></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- End results -->
  </div>
</div>

<script>
  const getResults = () => {
    const location = document.getElementById("locatie").value;
    const product = document.getElementById("product").value;
    if (product !== "" && location !== "") {
      window.location.href = `/${location}/${product}`;
    } else if (location !== "") {
      window.location.href = `/${location}`;
    } else {
      window.location.href = "/";
    }
  };
</script>
{% endblock %}
