{% extends 'main.html' %} {% block content %}

<style>
  div.container {
    border-radius: 25px;
  }
</style>

<div class="container m-5 border border-primary p-5">
  <!-- Start navbar -->
  <div>
    <div class="d-flex justify-content-around mb-4">
      <h1>ToolsForEverVooraad</h1>
    </div>
  </div>
  <!-- End navbar -->
  <div>
    <!-- Start form -->
    <div class="d-flex justify-content-around">
      <h4>Login</h4>
    </div>
    <div class="d-flex justify-content-around">
      <form method="post">
        <div>
          <div>
            <label for="username">Gebruikersnaam</label>
            {% csrf_token %}
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Gebruikersnaam"
            />
          </div>
          <div class="form-group">
            <label for="password">Wachtwoord</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Wachtwoord"
            />
          </div>
          <div class="d-flex ml-5">
            <button type="submit" class="btn btn-primary">Verzenden</button>
          </div>
        </div>
      </form>
    </div>
    <!-- End form -->
  </div>
</div>

<script>
  const getResults = () => {
    const location = document.getElementById("locatie").value;
    const product = document.getElementById("product").value;
    if (product !== "" && location !== "") {
      window.location.href = `/${location}/${product}`;
    } else if (location !== "") {
      window.location.href = `/${location}`;
    } else {
      window.location.href = "/";
    }
  };
</script>
{% endblock %}
